@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "futuraRegular";
    src: ("futur"), url("/res/font/futura/futur.ttf") format("truetype");
}

.slogan{
    font-family: Arial;
    font-size: clamp(1rem , 2.5vw, 2.5rem);
    text-align: center;
    color: #291C18;
}

.buttonColor{
    background-color: #432818;
}

.textColor{
    color: #707070;
}

th , tr ,td {
    border: 1px solid #d0d0d0;
}

.buttonKyorugi {
    background-color: #D9D9D9;
}

.buttonKyorugi p{
    margin-left: .5rem;
    font-size: small;
    font-weight: 500;
}

.buttonDetails p{
    font-weight: 500;
}

.chong p{
    font-size: small;
    margin-left: .5rem;
}

.hong p{
    font-size: small;
    margin-left: .5rem;

}

.historyButton{
        background-color: #d0d0d0;
}

.kyorugiButton{
    background-color: #432818;
    width: 5rem;
    height: 1.75rem;
    color: #ffffff;
    font-size: .7rem;
    font-weight: bold;
}